:root{
        /* CSS HEX */
    --black: #07020cff;
    --dark-green: #052303ff;
    --black-2: #010801ff;
    --black-3: #040205ff;
    --dark-pastel-green: #54bc44ff;
    --kelly-green: #47b435ff;
    --night: #010d01ff;
    --cal-poly-green: #1e4b19ff;
    --bs-breadcrumb-divider-color:#47b435ff;
}
body{
    font-family:'Courier New', Courier, monospace;

    text-align: center;
    /*margin:30px;*/
    align-items: center;
    background:url(/assets/Binary.jpeg) repeat;
}
ul,ol,li{
    text-align: left;
}
a{
    color:var(--kelly-green);
}
.card{
    background-color: var(--night);
    color:var(--dark-pastel-green);
}
.offcanvas{
    background-color: var(--night);
    color:var(--dark-pastel-green);
}
#main-menu-button{
    background-color: var(--kelly-green);
    border:none;
    width: 30px;
    height: 30px;
}
#main-menu-button>img{
    width: 20px;
    height: 20px;
}
.menu-bar{
    display:flex;
    background-color: var(--night);
    height: 31px;
}
.btn-primary{
    width:200px;
}
#menu-bar-breadcrumbs{
    padding-left:10px;
}
.underline{
    border-color:var(--dark-pastel-green);
    border-bottom:1px solid;
}
.btn-panel{
    width:500px;
    margin:auto;
}
.btn-panel-3{
    width:750px;
    margin:auto;
}
.btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--dark-pastel-green);
    --bs-btn-bg: var(--dark-green);
    --bs-btn-border-color: var(--dark-pastel-green);
    --bs-btn-hover-color: var(--kelly-green);
    --bs-btn-hover-bg: var(--cal-poly-green);
    --bs-btn-hover-border-color: var(--kelly-green);
}
.page-title{
    color:var(--dark-pastel-green);
    background-color: var(--night);
}