body{
    background-color:darkgreen;
    font-family:cursive;
    margin:20%;
    text-align: center;
    align-items: center;
}
h1{
    color:gold;
    border-bottom:1px solid;
}
p{
    color:goldenrod;
}
main{
    border-style:double;
    border-color:gold;
    padding:30px;
    padding-top:0px;
    padding-bottom:10px;
}